{% extends 'base.html' %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  
<h1>{{post.title}}</h1>
<small>By: {{ post.author.first_name }} 
    {{post.author.last_name}} - <a href ="{% url 'update_post' post.pk %}">Edit</a>
    <a href ="{% url 'delete_post' post.pk %}">Delete</a>
</small><br/>
    <hr>
    <br/>
    {{post.body}}
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 100%; height: auto;"> <!-- Display image -->
    {% endif %}
    <br/></br>
    <a href ="{% url 'home' %}" class="btn btn-info">Back</a>

    <br/><br/>
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit"class="btn btn-link">
            {% if user in post.likes.all %}
            <i class="fa fa-heart btn-heart"></i> <!-- Red heart when liked -->
        {% else %}
        <i class="fa fa-heart btn-heart-o"></i>
            {% endif %}
        </button>
    </form>
    <p>{{ post.total_likes }} likes</p>
    {% endblock %}