{% extends 'base.html' %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
<small>By: {{ post.author.first_name }} 
    {{post.author.last_name}} - <a href ="{% url 'update_post' post.pk %}">Edit</a>
    <a href ="{% url 'delete_post' post.pk %}">Delete</a>
</small><br/>
    <hr>
    <br/>
    {{post.body}}

    <br/></br>
    <a href ="{% url 'home' %}" class="btn btn-info">Back</a>

    <br/><br/>
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">
            {% if user in post.likes.all %}
                Unlike
            {% else %}
                Like
            {% endif %}
        </button>
    </form>
    {% endblock %}