{% extends 'base.html' %}

{% block title %}
    Edit Blog Post
{% endblock %}

{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
        <h1>Update Post</h1>
        <div class="mb-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info">Post</button>
            </form>
        </div>
    {% else %}
        <p>Please log in to update a post.</p>
    {% endif %}
{% endblock %}
